<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application

        android:allowBackup="true"
        android:label="Shishu-Sneh"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".ui.GrowthChartActivity"/>
        <activity android:name=".ui.VaccineActivity"/>
        <activity android:name=".ui.FeedingGuideActivity"/>
        <activity android:name=".ui.MilestoneActivity"/>

        <activity android:name=".ui.MainActivity">

            <intent-filter>

                <action
                    android:name=
                    "android.intent.action.MAIN"/>

                <category
                    android:name=
                    "android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
